#name {
    font-family: 'Pacifico', cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    cursor: default;
}

.view-more {
    display: none;
}

#welcome-section,
#experience,
#education {
    background-color: #292929;
    color: white;
}

.cover {
    background: url(../images/cover_mobile.jpg) no-repeat center center fixed;
    background-size: cover; 
 }

@media (min-width: 768px){
    .cover {
       background: url(../images/cover.jpg) no-repeat center center fixed; 
       background-size: cover;
    }
}